.HistoryPopupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1500px;
  height: 850px;
  background-color: #faffe0;
  box-shadow: 5px 5px 30px lightgray;
  border-radius: 10px;
}
.HistoryPopupWrapper {
  display: flex;
  width: 95%;
  height: 90%;
  margin: 10px;
  flex-direction: row;
  border-radius: 10px;
  overflow: scroll;
}

.HistoryYear {
  width: 100%;
  height: 90%;
}
.HistoryPopupWrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}
.vertical-timeline-element-subtitle {
  font-weight: 300;
}
.historyTimelineImage > img {
  width: 300px;
  height: 300px;
}
.vertical-timeline-element--work {
  text-align: start;
}
