.LoadingCompoenetContainer {
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoadingTipBox {
  align-items: flex-start;
}
.LoadingProgressBar {
  align-items: flex-end;
}
